.dropdown-menu {         
    max-height: 200px;
    overflow-y: auto;
  }
* {
  font: Montserrat, sans-serif !important;
}
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #FF5722; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #424242;
    color: #ffffff;
}
  
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
   /* overflow:hidden; */
   border-radius:20px;
  
     box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  /* min-height: 300px; */
  background: rgb(35,79,109);
background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
  }

  ::ng-deep .ngx-datatable .datatable-body {
    max-height: 300px !important;
    min-height: 100px !important;
    overflow: hidden auto;
}
 
::ng-deep .ngx-datatable .empty-row {
  color: black !important;
}

