<!-- 
<div class="container"> 
  <ngx-datatable #myTable
  class="material fullscreen"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [reorderable]="reorderable"
      >
      </ngx-datatable>
</div> -->
<!-- <div class="body">
<app-converter></app-converter>
<app-sign-in></app-sign-in>
<app-sign-up></app-sign-up>
</div> -->
<router-outlet></router-outlet>
